%h3 What do you want to talk about?

= simple_form_for @form do |f|
  = f.input :name, readonly: @form.readonly?(:name)
  = f.input :description

  = f.button :submit, class: :expand

= @form.errors.messages
