%h3 What do you want to talk about?

= simple_form_for @form do |f|
  = f.input :name, placeholder: "Name", readonly: @form.readonly?(:name)
  = f.input :description, placeholder: "Description"

  = f.button :submit, class: :expand

= @form.errors.messages
